#################################
# Unreal Generated Ignore Files #
#################################
**/Binaries
**/Build
**/DerivedDataCache
**/Intermediate
**/Plugins
**/Saved
**/StarterContent/

#############################
# VS Generated Ignore Files #
#############################
**.VC.db